@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');

.menu{
    font-family: Macondo Swash Caps;
    font-size: 1rem;
    list-style: none;
    color: rgb(69, 68, 68);
    cursor:pointer;
    padding-left: 0px;
    margin-left: 70px;
}

.menu:hover{
    font-family: Macondo Swash Caps;
    list-style: none;
    cursor:pointer;
    transform: scale(1.3,1.3);
    color: black;

}
